.header--dark {
  background-color: rgb(51, 57, 64);
  color: rgb(236, 236, 236);
}
.header__title {
  display: inline-block;
  font-size: 1.25rem;
}
.header__search {
  display: inline;
  float: right;
}

.search__input {
  text-align: left;
  text-decoration: none;
  padding: 0.375px 0.75px 0.375px 0.75px;
  font-size: 1.2rem;
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 4px 8 0 rgb(128, 189, 255);
  transition: all 0.15s ease-in-out;

 
}



.search__btn {
  margin: 0;
  background-color: rgb(0, 123, 255);
  padding: 0.375px 0.75px 0.375px 0.75px;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
}

.container {
  display: inline;
  
}

.nav_bar {
  text-align: left;
  display: flex;
  flex: 20%;
  margin: 0;
}
.main__nav {
 
  background-color: rgb(33, 37, 41);
  border: blue solid 2px;
  float: left;
}


 .content {
  display: inline;
  text-align: center;
  margin: 2px;
  padding: 0;
  border: 1px solid red;
  background-color: rgb(33, 37, 41);
  width: 100%;
} 

.title {
  
  text-align: center;
}
.main_breadcrumb {
  background-color: rgb(233, 236, 239);

  padding: 1px 1.5px 1px 1.5px;

  position: relative;
  border-radius: 4px;
  box-shadow: 0 4px 8 0 rgb(128, 189, 255);
  transition: all 0.25s ease-in-out;
}

.main__cards {
  
display: inline;
  box-sizing: border-box;
width: 100%;
  border: 1px black solid;
  float: left;
}

.main__card--blue {
  background-color: rgb(0, 123, 255);
  border: black solid 1px;
  margin: 2px;
  text-align: center;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 4px 8 0 rgb(128, 189, 255);
  transition: all 0.25s ease-in-out;
}
.main__card--yellow {
  background-color: rgb(255, 193, 7);
  text-align: center;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 4px 8 0 rgb(128, 189, 255);
  transition: all 0.25s ease-in-out;
}
.main__card--green {
  background-color: rgb(40, 167, 69);
  text-align: center;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 4px 8 0 rgb(128, 189, 255);
  transition: all 0.25s ease-in-out;
}
.main__card--red {
  background-color: rgb(220, 53, 69);
  border: 1px black solid;
  text-align: center;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 4px 8 0 rgb(128, 189, 255);
  transition: all 0.25s ease-in-out;
}

  



  


